.red {
    height : 50px ;
    width : 150px ;
    background-color: red ;
}


.orange {
    height : 50px ;
    width : 150px ;
    background-color: orange ;
}

.blue {
    height : 50px ;
    width : 150px ;
    background-color: blue ;
}

.green {
    height : 50px ;
    width : 150px ;
    background-color: green ;
}

.yellow {
    height : 50px ;
    width : 150px ;
    background-color: yellow ;
}

.indigo {
    height : 50px ;
    width : 150px ;
    background-color: indigo ;
}

.violet  {
    height : 50px ;
    width : 150px ;
    background-color: violet ;
}

